.header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: bold;
    border: solid 2px;
    border-radius: 5px;
    padding-top: 5px;
    
  }

  .hearder__elementos{
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .header_titulo{
    color: #f6f6f6;
    font-size: 1.5rem;
    
  }